@font-face {
  font-family: "Muli";
  font-style: normal;
  font-display: swap;
  src: url("assets/fonts/Muli-Regular.ttf") format("truetype");
}

:root {
  --main-font: "Muli";
  --heading-font: "Work Sans";
  --heading-color: #222;
  --link-hover-color: #7fbb35;
  --link-color: #777;
  --button-color: #fff;
  --button-hover-color: #fff;
  --button-bg-color: #44556f;
  --button-bg-hover-color: #7fbb35;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  color: #777;
}
body {
  line-height: 2.4rem;
  letter-spacing: 0.02em;
}
::-webkit-input-placeholder {
  font-size: 13px !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 13px !important;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 13px !important;
}

footer {
  font-family: "Muli";
  margin-top: 5rem;
  background: #f2f2f2;
}
.newsletter-group {
  background: #44556f;
  padding: 1.5rem 0;
}

.newsletter-heading {
}

.newsletter-heading h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: #fff;
  letter-spacing: 0;
}

.newsletter-heading p {
  margin: 0;
  line-height: 2rem;
  color: #fff;
  font-size: 1rem;
}

.newsletter-content {
  padding: 1rem 0 0 0;
  width: 26rem;
}

/* @media (min-width: 768px) {
  .newsletter-content {
    width: 100;
  }
} */

.newsletter-content .content {
  position: relative;
  display: inline-block;
  /* vertical-align: top; */
  width: 100%;
}

.newsletter_email {
  width: 100%;
  height: 3rem;
  border: 0;
  padding: 1rem 3rem;
  padding-right: 3rem;
  padding-right: 12rem;
  font-size: 1.3rem;
  color: #bdbbbb;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  background: #fff;
}

.newsletter-content .content button {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.8rem;
  text-transform: capitalize;
  border-radius: 3rem;
  text-shadow: none;
  box-shadow: none;
  border: 0;
  background: var(--link-hover-color);
  color: #fff;
  line-height: 3rem;
  padding: 0 2.3rem;
  font-weight: 800;
}

.newsletter-notification.error {
  color: red;
  margin-top: 1rem;
  line-height: 1;
  font-size: 1.3rem;
}

.social {
  margin-left: 22px;
}
.social a {
  display: flex;
  align-self: center;
  justify-self: center;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  margin-right: 0.8rem;
  text-align: center;
  line-height: 3rem;
  width: 3rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  font-weight: 400;
}
/* .social a.google::before {
  content: "\f235";
}
.social a::before {
  font-size: 2.4rem;
  font-family: "Ionicons";
  display: inline-block;
  vertical-align: top;
} */
