#pt-menu-1178 .pt-menu-bar {
  background: #ffffff;
  color: #242424;
  padding: 0px 0px 0px 0px;
}

#pt-menu-1178.pt-menu-bar {
  background: #ffffff;
  color: #242424;
}

#pt-menu-1178 .ul-top-items .li-top-item .a-top-link {
  background: #ffffff;
  padding: 5px 0px 5px 0px;
  color: #222222;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
}

#pt-menu-1178 .ul-top-items .li-top-item:hover .a-top-link,
#pt-menu-1178 .ul-top-items .li-top-item:hover .a-top-link i,
#pt-menu-1178 .ul-top-items .li-top-item.active .a-top-link {
  color: #7fbb35;
  font-weight: 700;
  background: #ffffff;
}

#pt-menu-1178 .mega-menu-container {
  background: #ffffff;
  padding: 0px 0px 0px 0px;
}

#pt-menu-1178 .mega-menu-container .a-mega-second-link {
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: none;
  font-weight: 300;
}

#pt-menu-1178 .mega-menu-container .a-mega-second-link:hover {
  color: #ffffff;
  font-weight: 300;
}

#pt-menu-1178 .mega-menu-container .a-mega-third-link {
  color: #ffffff;
  font-size: 1.4rem;
  text-transform: none;
  font-weight: 300;
}

#pt-menu-1178 .mega-menu-container .a-mega-third-link:hover {
  color: #ffffff;
  font-weight: 300;
}

#pt-menu-1178 .ul-second-items .li-second-items {
  background: #ffffff;
  color: #222222;
}

#pt-menu-1178 .ul-second-items .li-second-items:hover,
#pt-menu-1178 .ul-second-items .li-second-items.active {
  background: #ffffff;
  color: #7fbb35;
}

#pt-menu-1178 .ul-second-items .li-second-items .a-second-link {
  color: #222222;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 400;
}

#pt-menu-1178 .ul-second-items .li-second-items .a-second-link:hover,
#pt-menu-1178 .ul-second-items .li-second-items.active .a-second-link {
  color: #7fbb35;
  font-weight: 400;
}

#pt-menu-1178 .ul-third-items .li-third-items {
  background: #ffffff;
}

#pt-menu-1178 .ul-third-items .li-third-items:hover,
#pt-menu-1178 .ul-third-items .li-third-items.active {
  background: #ffffff;
}

#pt-menu-1178 .ul-third-items .li-third-items .a-third-link {
  color: #777777;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 400;
}

#pt-menu-1178 .ul-third-items .li-third-items .a-third-link:hover,
#pt-menu-1178 .ul-third-items .li-third-items.active .a-third-link {
  color: #7fbb35;
  font-weight: 400;
}
